<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a class="level-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> &nbsp;
        {{ end }}
        &nbsp;<a href="http://feeds.feedburner.com/AbhishekDeyDas" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>
        <!-- <a class="level-item" href="{{ .Site.RSSLink }}" title="RSS">RSS</a> -->
        </nav>
      </div>
    </nav>
  </div>
</section>
