<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> &nbsp; &nbsp;
        {{ end }}
        <a class="sidebar-nav-item" href="{{ .Site.RSSLink }}" title="RSS">RSS</a>
      </div>
    </nav>
  </div>
</section>
